* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}