@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&family=Onest:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Onest", sans-serif;
  overflow-x: hidden;
}