@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Onest:wght@100..900&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Broken+Fax&family=Smooch+Sans:wght@100..900&family=Special+Gothic+Expanded+One&family=Tangerine:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f4;
  color: #111;
  text-align: center;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.titulo {
  font-size: 18px;
  margin: 40px 0;
  font-weight: 800;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 100px;
}

.img {
  width: 120px;
  height: 160px;
  background-color: #dcdcdc;
  opacity: 0.4;
  border-radius: 4px;
}

.central {
  width: 180px;
  height: auto;
  opacity: 1;
  border-radius: 6px;
}

footer {
  position: relative;
  text-align: center;
  padding-bottom: 0;
}

.texto {
  display: flex;
  justify-content: space-between;
  padding: 0 25%;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.marca {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
}

.grande {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0;
  position: fixed;
  bottom: -70px;
  left: 0;
}

.grande span {
  font-family: Oswald, sans-serif;
  font-size: 250px;
  font-weight: 900;
  color: #111;
  letter-spacing: -10px;
  opacity: 0.95;
}

.galeria img,
.img {
  width: 120px;
  height: 160px;
  border-radius: 6px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 1;
}

.galeria img:hover,
.img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  z-index: 2;
}



